In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow import keras
from tensorflow.keras import layers

In [2]:
df = pd.read_csv("Home Price Prediction.csv")

In [3]:
df

   area  bedroom  age   price
0  2600        3   20  550000
1  3000        4   15  565000
2  3200        5   18  610000
3  3600        3   30  595000
4  4000        5    8  760000
5  8000        6   45  895000
6  3000        3   12  590000
7  4500        6   15  800000
8  4500        6   20  700000

In [4]:
x = df[['bedroom','age']]
y = df.price

In [5]:
scaler = StandardScaler()

In [6]:
x = scaler.fit_transform(x)

In [7]:
x_train,y_train,x_test,y_test = train_test_split(x,y,test_size = 0.2)

In [10]:
model = keras.Sequential([layers.Dense(64,activation = 'relu',input_shape = (x_train.shape[1],)),
                          layers.Dense(32,activation = 'relu'),
                          layers.Dense(1,activation = 'sigmoid')])

C:\Users\HP\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [11]:
model.compile(optimizer = 'adam',loss = 'categorical_crossentropy',metrics = ['accuracy'])

In [13]:
model.fit(x_train,y_train,epochs = 5,validation_data = (x_test,y_test))

ValueError: Data cardinality is ambiguous. Make sure all arrays contain the same number of samples.'x' sizes: 7
'y' sizes: 2